.root { -fx-focus-color: transparent; }

.menu-bar {
    
    -fx-border-width: 2.0;
}
.menu-bar .label {
    -fx-font-size: 14.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-padding: 10.0px;

}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: rgba(255, 255, 255, 0.5);
    -fx-text-fill: white;
}

.menu-item {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
    -fx-text-fill: white;
    -fx-background: rgba(255, 255, 255, 0.5) ;
}
.menu-item .label{
    -fx-font-size: 14.0 pt;
    -fx-text-fill: white;
}
.menu-item .label:hover{
    -fx-font-size: 14.0 pt;
    -fx-background: rgba(255, 255, 255, 0.5) ;
    -fx-text-fill: white;
}
.context-menu {
    -fx-background-color:#ccc ;
    -fx-border-width: 0.2px;
	-fx-border-radius:10;
    -fx-border-color: black;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 10;
    -fx-opacity: 0.9;
}

.jfx-button{
	-fx-background-color: rgba(255, 255, 255, 0);
	-fx-background-radius: 100%	;
}

:show-mnemonics > .mnemonic-underline {
    -fx-stroke: white;
}

.play_time{
	-fx-text-fill: white;
	-fx-font-size: 15.0 pt;
    -fx-font-family: "Bookman Old Style";
	-fx-font-weight: bold; 
}


.jfx-slider > .thumb {
     -fx-background-color: #00FFEA;
}
.jfx-slider > .colored-track {
     -fx-background-color: #00FFEA;
}
.jfx-slider > .animated-thumb {
     -fx-background-color: #00FFEA;
}
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: black;
}

#volumnControl {
	-fx-background-color: rgba(0, 255, 234, 0.25);
	-fx-border-color: black;
}

#speed_list{
	-fx-background-color: rgba(0, 255, 234, 0.7);
	-fx-font-size: 16 pt;
	-fx-border-color: black;
}
.speed_text{
	-fx-text-fill: white;
}
.speed_text:hover{
	-fx-background-color:rgba(255, 255, 255, 0.5);
}

#btn_rate{
	-fx-text-fill: white;
	-fx-text-weight: bold;
}

#volumeShow{
	-fx-background-color:rgba(0, 0, 0, 0.5);
	-fx-text-fill: white;
	-fx-border-color: black;
	-fx-border-radius: 50%;
	-fx-background-radius: 50;
	-fx-font-size:20pt;
}

#mediaName{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: "Bookman Old Style";
	-fx-font-size: 14pt;
	-fx-padding: 10.0px;
}


.context-menu .label{
	-fx-font-size: 14.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-padding: 10.0px;
}

.context-menu .separator {
    -fx-padding: 0;
}

.context-menu .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 */
    -fx-background-color: #006699;
}

.context-menu .scroll-arrow:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #006699;
    -fx-text-fill: -fx-selection-bar-text;
}

.context-menu:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.context-menu > * > .separator > .line{
	-fx-border-color: rgba(255, 255, 255, 0.2);
}

#btn_closeHistory, #btn_delAllHistory{
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-border-color: #fff;
	-fx-border-weight: 2;
	-fx-font-size: 14pt;
	-fx-font-family: "Bookman Old Style";
	-fx-text-fill: #fff;
}