#parentPane{
	-fx-background-color: #fff;
}

#theme_title{
	-fx-font-size: 14.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-padding: 10.0px;
}
#topBar{
	-fx-effect: dropshadow( gaussian , rgba(0, 0, 0,0.7) , 10,0,0,1 );
}

#theme_choose{
	-fx-background-color: #ccc;
}
#theme_choose .label{
	-fx-text-fill: #fff;
}

.jfx-button{
	-fx-font-size: 14.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: black;
    -fx-font-weight: bold; 
    -fx-padding: 10.0px;
	-fx-background-radius: 50;
	-fx-background-color: rgba(255, 255, 255, 0.8);
	-fx-border-radius: 50;
	 -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.color_choose{
	-fx-font-size: 16.0 pt;
	-fx-border-color: none;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-text-fill: white;
}

.scroll-bar:vertical .track{
	-fx-background-color: #CECECE;
}

.scroll-bar:vertical .thumb{
	-fx-background-color: #6F6F6F;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow, .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
    -fx-opacity: 0;
}

.scroll-bar:vertical {
    -fx-pref-width: 0;
}
